{% extends "!page.html" %}
{% block extrahead %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@MagicMaterials" />
    <meta name="twitter:image" content="https://icet.materialsmodeling.org/_static/logo-small.png" />
    <meta property="og:title" content="icet" />
    <meta property="og:description" content="A Pythonic approach to cluster expansions." />
    <meta property="og:image" content="https://icet.materialsmodeling.org/_static/logo.png" />
{% endblock %}

{% set css_files = css_files + ["_static/custom.css"] %}

{% block footer %}
 <script type="text/javascript">
    $(document).ready(function() {
        $(".toggle > *").hide();
        $(".toggle .header").show();
        $(".toggle .header").click(function() {
            $(this).parent().children().not(".header").toggle(400);
            $(this).parent().children(".header").toggleClass("open");
        })
    });
</script>
{% endblock %}
